<%- include("partial/header") %>
    <div class="table-container">
        <h2 class="todo-title">Delete todo</h2>
        <a class="btn" href="/">Back</a>
        <div class="confirm">
            <p>
                Are u sure?
                <a class="btn" href="">yes</a>
                <a class="btn" href="">No</a>
            </p>
        </div>
    </div>
</body>
</html>